.main {
  display: flex;
  height: 4rem;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
   background-color: white;
  /*background: linear-gradient(-45deg, #a8e48a, #1eb6d9, #f2d3f7);*/
  background-size: 400% 400%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.link {
    color: #333; /* Change the font color to your desired color */
    font-weight: bold; /* Make the font bold */
    margin-right: 20px; /* Add some spacing between links */
    font-size: larger;
  }